body {
  margin: 0;
  background: #f0f2f5;
}

.layout {
  min-height: 100vh;
}

.header {
  background: #001529;
  color: white;
  display: flex;
  align-items: center;

  .icon {
    font-size: 24px;
    margin-right: 12px;
    color: white;
  }

  .text {
    color: white;
    margin: 0;
  }
}

.content {
  padding: 24px;
}

.full-width {
  width: 100%;
}

.form {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  padding: 12px !important;
}
